<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466382031798-p0mtrn0s67u23aateek8vql03t1trd7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466382031798-p0mtrn0s67u23aateek8vql03t1trd7n</string>
	<key>API_KEY</key>
	<string>AIzaSyADlimkMuyMGg5PIQxuDcfHhjohvvUSn4I</string>
	<key>GCM_SENDER_ID</key>
	<string>466382031798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vixo</string>
	<key>PROJECT_ID</key>
	<string>vixo-a91cd</string>
	<key>STORAGE_BUCKET</key>
	<string>vixo-a91cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466382031798:ios:f1f12e2ad1f2aecca34f17</string>
</dict>
</plist>